* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

/* Hero Section */
.hero {
    background-image: url('background-image.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.profile-photo {
    width: 150px; /* Set the desired width */
    height: 150px; /* Set the desired height */
    border-radius: 50%; /* Makes the image round */
    margin-top: 20px; /* Adds some space above the photo */
}

.hero .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    padding: 30px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.5rem;
}

/* Projects Section */
#projects {
    padding: 50px;
    background-color: white;
    text-align: center;
}

.project-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    background-color: #4CAF50;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    color: white;
    transition: transform 0.3s;
}

.project-image {
    max-width: 100%;
    border-radius: 10px;
}

.project-card:hover {
    transform: translateY(-10px);
}

/* Experience Section */
#experience {
    padding: 50px;
    background-color: #f7f7f7;
    text-align: center;
}

.experience-item {
    margin-bottom: 20px;
}

.experience-image {
    width: 150px;
    margin: 10px 0;
}

/* Education Section */
#education {
    padding: 50px;
    background-color: white;
    text-align: center;
}

.education-item img {
    width: 150px;
}

/* Skills Section */
#skills {
    padding: 50px;
    background-color: #f7f7f7;
    text-align: center;
}

#skills ul {
    list-style-type: none;
}

#skills ul li {
    font-size: 1.2rem;
    margin: 10px 0;
}

/* Contact Section */
#contact {
    padding: 50px;
    background-color: #222;
    color: white;
    text-align: center;
}

.contact-logo {
    width: 50px;
    margin: 0 15px;
}

#contact ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Footer */
footer {
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
}
